.box{
	width: 50px;
	height:50px;
	display: inline-block;
}

.row{
	height: 50px;
	text-align: center;
	position: relative;
	margin: 2px;	
}

textarea{
	font-size: 30px;
	text-align: center;
	overflow: hidden;
	resize: none;
	line-height: 50px;
	text-transform: uppercase;
}
.wordActive {
	background-color: blue;
}

.active{
	background-color: yellow;
}

.inactive{
	background-color: green;
}


.filled{
	background-color: black;
	margin: 0;
	position: relative;
}