body{
	font-family: 'Montserrat', sans-serif;
	min-width: 1200px;
    background-color: #222222;
    background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
}


.box{
	width: 50px;
	height: 50px;
	border-top: 5px solid black;
}

.boxWrap{
	display: inline-block;
	width: 50px;
	height: 50px;
	position: relative;
	
}

#timer, #player {
	color: white;
	font-size: 40px;
}

.crossword{
	width: 1025px;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
}

#crosswordWrapper{
	background-color: black;
	padding: 2px 0 7px 0;
	width: 500px;
	margin: 0;
	position: absolute;
	right: 0;
	display: inline-block;
}

.row{
	height: 50px;
	left: 7px;
	position: relative;
}

#wait{
	position: absolute;
	width: 110%;
	height: 110%;
	background-color: rgba(0,0,0,0.9);
	display: none;
	top: 0px;
	left: 0px;
}

#waitText{
	color: white;
	text-transform: lowercase;
	letter-spacing: 5px;
	position: absolute;
	margin: auto;
	top: 200px;
	left: 0;
	right: 0;
	height: 30px;
	width: 550px;
	font-size: 30px;
	text-align: center;
}

textarea{
	font-size: 30px;
	text-align: center;
	overflow: hidden;
	resize: none;
	line-height: 50px;
	text-transform: uppercase;
	border: none;
}
.wordActive {
	background-color: #c9edc3;
}

.active{
	background-color: #FFDD1B;
}


.filled{
	background-color: black;
	margin: 0;
	position: relative;
}

* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

input {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
}

button {
    float: right;
}

li {
    margin: 5px 0;
}

.hints{
	color: white;
	text-align: center;
}

#hint1:hover, #hint2:hover, #hint3:hover{
	background-color: #c9edc3;
	color: black;
}

#hint1, #hint2, #hint3 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#chatControls {
    overflow: auto;
    margin: 0 0 5px 0
}

#userlist {
    position: fixed;
    left: 50%;
    list-style: none;
    margin-left: 250px;
    background: #f0f0f9;
    padding: 5px 10px;
    width: 150px;
    top: 11px;
}

#chatwrapper {
	width: 500px;
}

#chat {
	height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
}
#chat p {
    margin: 5px 0;
    font-weight: 300;
    font-size: 12px;
    text-align: left;
}

#chat .timestamp {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
}

#chat article {
    background: #f1f1f1;
    padding: 10px;
    margin: 10px 0;
    border-left: 5px solid #aaa;
    position: relative;
    word-wrap: break-word;
}


#chat article:first-of-type {
    background: #c9edc3;
    border-left-color: #74a377;
    animation: enter .2s 1;
}

@keyframes enter {
    from { transform: none;        }
    50%  { transform: scale(1.05); }
    to   { transform: none;        }
}

#leftWrapper{
	width: 500px;
	margin: 0;
	position: absolute;
	top: -15px;
	display: inline-block;
}

#clues{
	width: 500px;
	border: 1px black dashed;
	padding: 50px;
	text-decoration: none;
	background-color: white;
}

.numMarker{
	position: absolute;
	top: 5px;
	left: 5px;
	font-size: 8px;
}

input[disabled], input:disabled, textarea[disabled], textarea[disabled="disabled"], textarea:disabled {
    background: grey;
}

.inactive{
	background-color: green !important;
}

#container {
  width: 500px;
  margin: auto;
}
/*neeeeoooon*/


#crossword_title{
  text-align: center;
  font-size: 3em;
  margin: 20px 0 20px 0;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff;
  font-family: Monoton;
  -webkit-animation: neon1 1.5s;
  -moz-animation: neon1 1.5s;
  animation: neon1 1.5s;
}

b{
	font-size: 12px;
}



#ctitle{
	height: 300px;
	width: 500px;
	text-align: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}


#cwf div{
	display: inline-block;
}

#cwf {
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	height: 400px;
	width: 1110px;
}

#one, #two{
	display:block;
	height: 300px;
	width: 300px;
	text-align: center;
	background-color: #FFDD1B;
	-moz-box-shadow: 0 0 5px #fff;
	-webkit-box-shadow: 0 0 5px #fff;
	box-shadow: 0px 0px 5px #fff;
	line-height: 300px;
	font-size: 1em;
	top: 0;
	position: absolute;
	  text-align: center;
	  font-size: 2em;
	  margin: 20px 0 20px 0;
	  text-decoration: none;
	  -webkit-transition: all 0.5s;
	  -moz-transition: all 0.5s;
	  transition: all 0.5s;
	  color: white;
	  font-family: Monoton;
	  text-shadow: 2px 2px 4px #000000;
}

#two{
	right: 0;
}


#one:hover, #two:hover {
	-moz-box-shadow: 0 0 100px #fff;
	-webkit-box-shadow: 0 100 50px #fff;
	box-shadow: 0px 0px 50px #fff;
	background-color: #fff;;
	color: black;
	text-shadow: 2px 2px 4px #FFF;
}


@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}

@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}



@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}



@media (max-width: 650px) {
  #container {
    width: 100%;
  }
  p {
    font-size: 3.5em;
  }
}